<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrgTehPF0nJz9t1EHdQ_SccCtqlFbo7cs</string>
	<key>GCM_SENDER_ID</key>
	<string>716575547527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cardMaster</string>
	<key>PROJECT_ID</key>
	<string>mastercard-6e3c9</string>
	<key>STORAGE_BUCKET</key>
	<string>mastercard-6e3c9.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716575547527:ios:1ce327b3a2db6dbf9bd822</string>
</dict>
</plist>